body{
    background-color: rgb(45, 45, 200);
    z-index: -2;
    position: absolute;
    
}
.piano{
    margin-top: 10vh;
}
.white{
    background-color: white;
    border:2.5px solid black;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 22vw;
    height: 5vh;
    padding: 2px;
    box-shadow: 6px  5px   rgb(155, 155, 155),2.5px 1.9px 0px 3px rgb(155, 155, 155);
}
.black{
    background-color: black;
    border: 2px solid black;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 12vw;
    height: 5vh;
    position: absolute;
    margin-top: -9vh;
    box-shadow:  6px  5px 0 0  rgb(42, 42, 42),-0.3px  5px 0 0  rgb(42, 42, 42);
}
.white:hover{
    box-shadow: 8px 1px 2.5px rgb(33, 33, 33);
    background-image: linear-gradient(to right, white , rgb(149, 141, 141));
    width: 21.7vw;
    
}
.black:hover{
    box-shadow: 6px  5px   rgb(42, 42, 42),-0.3px  5px 0 0  rgb(42, 42, 42);
    background-image: linear-gradient(to right, black , rgb(137, 135, 135));
    width:11.7vw;
}
#chart{
    font-weight:bolder;   
    font-size: 35px; 
    transition: transform 0.1s;
    position: relative;
    text-align: right;
    margin-top: -0.3vh;
    color: transparent;
    transition-duration: 00.1s;
    transform: all;    
    animation-name: color-change;
    animation-duration: 3s;
    animation-timing-function: linear;
    
    
}


#chart:hover{
    transform:translateX(20px);
    color: black;
    
}